<div
  id="sidebar"
  class="col-2 sticky"
  style="background-color: #eeeeee; height: 100vh;"
>
  <nav class="nav flex-column nav-pills" id="tab" style="padding-top: 30px;">
    <a
      id="registrants-link"
      href="/adminpanel"
      class="nav-link"
      data-toggle="pills"
    >
      Registrants
    </a>
    <a
      id="approved-link"
      href="/adminpanel/approved"
      class="nav-link"
      data-toggle="pills"
    >
      Approved Registrants
    </a>
    <a
      id="data-link"
      href="/adminpanel/data"
      class="nav-link"
      data-toggle="pills"
    >
      Data Export
    </a>
    <a
      id="settings-link"
      href="/adminpanel/settings"
      class="nav-link"
      data-toggle="pills"
    >
      Settings
    </a>
  </nav>
</div>
