@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,700&display=swap");

:root {
  --un-blue: #009edb;
  --un-dark-grey: #333333;
  --un-grey: #4d4d4d;
  --un-light-grey: #f2f2f2;
  --un-slight-grey: #f9f9f9;
  --un-light-blue: #e4effb;
}

body {
  color: var(--un-dark-grey) !important;
  font-family: "Roboto", sans-serif;
}

.sticky {
  position: sticky;
  top: 0;
}

.table-scroll {
  height: 40vh;
  overflow-y: auto;
  /* background-color: #f0f0f0; */
  /* border: 1px solid var(--un-light-grey); */
  border-radius: 7px;
  box-shadow: 0px 10px 20px -5px #d0d0d0;
}

.sidebar {
  position: fixed;
}

.nav-pad {
  padding-top: 60px;
}

thead tr:nth-child(1) th {
  background: white;
  position: sticky;
  top: 0px;
}

.label-spinner {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin-bottom: 0.3rem;
}

.navbar {
  padding: 0;
}

.wrap-div {
  width: fit-content;
  height: fit-content;
}

.form-container {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  background-color: var(--un-light-grey);
}

.dissolve {
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
}

.dissolve.active {
  opacity: 1;
}

.dissolve.disabled {
  opacity: 0;
}

.img-hover {
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  box-shadow: 0 0 5px 0px var(--un-dark-grey);
}

.img-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px -5px var(--un-dark-grey);
}

.attention {
  color: red;
}

.card {
  box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.1);
}

.display-4 {
  font-weight: 700;
}

.jumbotron {
  border-radius: 0;
  margin-bottom: 0;
  background-color: #e9ecefe1;
  color: black;
}

.home-row {
  margin: 0;
  background-image: url(/imgs/index.png);
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.delegate {
  padding: 2rem;
  background-image: url(/imgs/delegate.jpg);
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-grey {
  background-color: var(--un-grey) !important;
  color: var(--un-light-grey);
}

.bg-grey a {
  color: var(--un-light-blue);
}

.bg-blue {
  background-color: var(--un-blue) !important;
}

.blue-line {
  background-color: var(--un-blue);
  width: 100%;
  height: 8px;
}

.blue-break {
  background-color: var(--un-blue);
  width: 100%;
  height: 0.5rem;
  margin-bottom: 1.5rem;
}

label.is-invalid {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.dropdown-toggle.btn-light {
  background-color: white;
  border: 1px solid #ced4da;
}

.show > .btn-light.dropdown-toggle {
  background-color: white !important;
  border: 1px solid #ced4da;
}

.btn-light.dropdown-toggle:focus {
  color: #495057 !important;
  background-color: #fff !important;
  border-color: #80bdff !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}

.btn-light.dropdown-toggle.is-invalid {
  border-color: #dc3545 !important;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.btn-light.dropdown-toggle.is-invalid:focus {
  border-color: #dc3545 !important;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0;
}

h1 {
  font-weight: 700;
  padding-bottom: 10px;
}

p.end {
  margin-bottom: 2rem;
}

.home-welcome-sm {
  display: none;
  color: white;
  font-weight: 700;
  text-shadow: 0px 0px 2px black;
  padding: 2rem 1rem;
}

.margin-top {
  margin-top: 2rem;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.bg-light-grey {
  background-color: var(--un-light-grey);
}

.break-box-shadow {
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.5);
}

.mun-heading {
  padding-top: 7.2rem;
  background: url(/imgs/logo-raw.svg) no-repeat left top;
  background-size: 7rem auto;
  margin-bottom: 30px;
}

.sdg-heading {
  padding-top: 7.2rem;
  background: url(https://www.un.org/sites/un2.un.org/themes/bootstrap_un2/images/sdg-wheel.svg)
    no-repeat center top;
  background-size: 6rem auto;
}

.sdg-colors-top-banner {
  width: 100%;
  height: 0.5rem;
}

.sdg-1,
.sdg-2,
.sdg-3,
.sdg-4,
.sdg-5,
.sdg-6,
.sdg-7,
.sdg-8,
.sdg-9,
.sdg-10,
.sdg-11,
.sdg-12,
.sdg-13,
.sdg-14,
.sdg-15,
.sdg-16,
.sdg-17 {
  height: 0.5rem;
  width: 5.8823%;
  float: left;
}

.sdg-1 {
  background-color: #e8203a;
}

.sdg-2 {
  background-color: #dda63a;
}

.sdg-3 {
  background-color: #4c9f38;
}

.sdg-4 {
  background-color: #c5192d;
}

.sdg-5 {
  background-color: #ff3a21;
}

.sdg-6 {
  background-color: #26bde2;
}

.sdg-7 {
  background-color: #fcc30b;
}

.sdg-8 {
  background-color: #a21942;
}

.sdg-9 {
  background-color: #ff6924;
}

.sdg-10 {
  background-color: #dd1367;
}

.sdg-11 {
  background-color: #ff9f24;
}

.sdg-12 {
  background-color: #bf8b2e;
}

.sdg-13 {
  background-color: #3f7e44;
}

.sdg-14 {
  background-color: #0a97d9;
}

.sdg-15 {
  background-color: #00689d;
}

.sdg-16 {
  background-color: #56c22b;
}

.sdg-17 {
  background-color: #19486a;
}

@media (max-width: 991.98px) {
  .home-row {
    background-image: url(/imgs/index.png);
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .jumbotron {
    background-color: #e9ecef;
  }
  .home-img-sm {
    height: 350px;
    background-image: url(/imgs/index.png);
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .home-welcome-lg {
    display: none;
  }
  .home-welcome-sm {
    padding-top: 4rem;
    display: block;
  }
}

@media (max-width: 767.98px) {
  .home-img-sm {
    height: 230px;
  }
  .home-welcome-sm {
    padding-top: 2rem;
  }
  .img-hover {
    box-shadow: none;
    transition: all 0.25s;
    -webkit-transition: all 0.4s;
  }
  .img-hover:hover {
    box-shadow: none;
    transform: none;
  }
  .img-hover.focus {
    transform: scale(0.97);
  }
  .display-4 {
    font-size: 3rem;
  }
}
